/*------------------------------------*
#UTILITY CHILD ALIGMENT
\*------------------------------------*/
/*Note: Apply on parent element to align your childs
 *Ex: class="layout-row layout-align-center-center"
 */
/*------------------------------------*
#LAYOUT DIRECTION
\*------------------------------------*/
.layout-row,
.layout-column {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.layout-column, .layout-row {
    -webkit-box-direction: normal;
}

.layout-row {
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.layout-column {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.layout-align-center-center,
.layout-align-start-center,
.layout-align-end-center,
.layout-align-space-around-center,
.layout-align-space-between-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    max-width: 100%;
}

/*-- CENTER CENTER --*/
.layout-align-center-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
}

/*-- START CENTER --*/
.layout-align-start-center, .layout-align-start-end, .layout-align-space-around-start, .layout-align-space-between-start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}

/*-- END CENTER --*/
.layout-align-end-center {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
}

/* END */
.layout-align-space-around-end, .layout-align-space-between-end, .layout-align-start-end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-align-content: flex-end;
    align-content: flex-end;
}

/*-- SPACE AROUND CENTER --*/
.layout-align-space-around-center {
    -webkit-justify-content: space-around;
}

/*-- SPACE BETWEEN CENTER --*/
.layout-align-space-between-center, .layout-align-space-between-start, .layout-align-space-between-end {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}